@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


.Addcontacts{
    font-style: italic;
    text-align: center;
    font-size: 30px;
    padding: 3rem 0 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: 10%;
}


.name-input{
    text-align: center;
    font-family: sans-serif;
    font-size: large;
    padding-bottom: 1rem;
    display: block;
    
}

.btn {
  position: absolute;
  right: 20%;
  background-color: beige;
  border-color: beige;
  }
  
  .btn:hover {
    background: #3ceffc;
    text-decoration: none;
  }